@import "../common"
.hlist
  .itemrootCkb
    display none

a
  color: #364049
  text-decoration none
  font-size .8em
  
a.htitle
  color: #364049
  font-size .8em
  text-decoration none
  
.markdown-body
  .hlist
    list-style: none
    li
      list-style: none

.markdown-body .two-column
  list-style: none
  display: flex
  flex-direction: 'row'
  li
    flex-wrap: wrap
    width: 50%
    list-style: none
    margin: 0
    padding: 0
    max-height 500px
    overflow auto
    img
      width: 95%
    li
      list-style: disc
      margin-left: 10px
      margin-bottom: 0.6em 
      width: 95%
      li
        list-style: circle

.docs-container
  margin-top: 5em
  .docs-content
    width 70%
    margin-right: 1.5em
    pre
      max-height: 4000px
  .docs-right
    position: relative
    width: 15%
    .docs-menu 
      top: 5em
      code
        display: none
      li
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        word-break: break-all;
        white-space: normal;
      a
        display block
        text-decoration: underline
        width 100%
        text-overflow: ellipsis;
    