html
  font: normal normal normal 16px/150% Arial,Verdana,"微软雅黑";
  width: 100%
  height: 100%
body
  padding: 1em;
  width: 100%
  height: 100%

ul
  list-style none
  li
    list-style none

clear()
  &:after{content:'';display:block;clear:both;height:0;overflow:hidden;visibility:hidden;}
  zoom:1
  clear: both
  
.clear:after{content:'';display:block;clear:both;height:0;overflow:hidden;visibility:hidden;}
.clear{zoom:1;clear: both}

@import './markdown'

a.htitle
  line-height: 220%
  font-size: 12px
  color: #aaa
  &:hover
    text-decoration: underline
.itemCategory
  >a.htitle
    font-size: 16px
    color: #0593d3
    text-decoration: none

tree()
  margin-left: 1em
  li.itemroot
    li
      &:before
        content: '•'
        margin-right: 0.2em
        margin-left: 0.1em
        color: #d9d9d9
        
  li.level0
    li.itemroot
      margin-left: 0
      margin-top: 1.4em
      list-style-type: none
      &:before
        content: ''
        margin: 0

ul_hlist()
  ul.hlist
    li
      padding: 0
      margin: 0
      >.itemCategory
        >ul
          margin-left: 1em


clearHr()
  &+hr
    height: 0
    padding: .5em
    border: 0

.hlist
  .itemrootCkb
    width: 0

.flex-row
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-flex-flow: row;
  -moz-box-orient: horizontal;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  vertical-align: baseline;

  

.sticky-container
  z-index: 9991;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  outline: 0;
  background-clip: padding-box;
  background-color: #0593d3;
  .navtop 
    width: 90%
    height: 50px;
    margin: 0 auto;
    a
      display: block;
      margin-right: 5px;
      height: 40px
      width: 40px
      img
        width: 100%

.page-footer
  height 20em
  margin-top 2em
  background-color #34383b

.docs-container
  width: 960px;
  min-height 600px
  margin: 0 auto;
  margin-top: 2em
  display: flex
  .docs-tree
    width: 15%
    display: flex
    // background-color: #ffffff
    border-right: 1px solid #fff5e9
    justify-content: center
    padding-top: 0.7em
    margin-left: 0.7em
    margin-right: 1.5em
    > .hlist
      width: 100%
      list-style none
    .hlist
      tree()
  .docs-content
    flex: 1
    margin-right: 1em
    clear()
    pre
      // width: 720px
      max-height: 700px
      overflow: auto
    .split
      clear()
      visibility: hidden
      height: 0
      margin: 1em
      padding: 0
      & + pre
        width: 50%
        float: left
        margin: 0
        & + ul
          clearHr()
          display: block
          width: 49.5%
          float: right
          padding-left: 1em
          li
            margin: 0
            padding: 0
            .itemCategory
              ul > li
                padding-left: 1em
          >li
            list-style: none
            margin-bottom: 2em
            & + div
              width: 100%
        & + div
          width: 49.5%
          float: right
          clearHr()
          & + div
            width: @width
            float: @float
            clearHr()
            & + div
              width: @width
              float: @float
              clearHr()
              & + div
                width: @width
                float: @float
                clearHr()
        


@import "./media"