html
  font: normal normal normal 16px/150% Arial,Verdana,"微软雅黑";
  width: 100%
  height: 100%

body
  padding: 1em;
  width: 100%
  height: 100%

ul
  list-style none
  li
    list-style none

a.htitle
  line-height: 220%
  font-size: 12px
  color: #aaa
  &:hover
    text-decoration: underline

.hlist
  .itemrootCkb
    width: 0

.itemCategory
  >a.htitle
    font-size: 16px
    color: #0593d3
    text-decoration: none

.clear:after{content:'';display:block;clear:both;height:0;overflow:hidden;visibility:hidden;}
.clear{zoom:1;clear: both}

// 清除浮动
clear()
  &:after{content:'';display:block;clear:both;height:0;overflow:hidden;visibility:hidden;}
  zoom:1
  clear: both

tree()
  margin-left: 1em
  li.itemroot
    li
      &:before
        content: '•'
        margin-right: 0.2em
        margin-left: 0.1em
        color: #d9d9d9
  li.level0
    li.itemroot
      margin-left: 0
      margin-top: 1.4em
      list-style-type: none
      &:before
        content: ''
        margin: 0

ul_hlist()
  ul.hlist
    li
      padding: 0
      margin: 0
      >.itemCategory
        >ul
          margin-left: 1em

clearHr()
  &+hr
    height: 0
    padding: .5em
    border: 0

colums()
  list-style: none
  display: flex
  flex-direction: 'row'
  li
    flex-wrap: wrap
    list-style: none
    margin: 0
    padding: 0
    max-height 500px
    overflow auto
    img
      width: 95%
    li
      list-style: disc
      padding 0.8em
      width: 95%
      li
        list-style: circle

.flex-row
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-flex-flow: row;
  -moz-box-orient: horizontal;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  vertical-align: baseline;

@import './markdown'
@import './_common/strucontent'
.docs-content
  .markdown-body
    width 95%
    margin 0 auto
    overflow hidden
    ul
      &.two-column, &.three-column, &.swiper
        colums()
    ul.swiper
      overflow-y hidden
      overflow-x auto
      li
        width: 50%
    ul.two-column
      li
        width: 50%
    ul.three-column
      li
        width: 31%
        max-height auto
@import "./media"